body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/835/7/584/marvel-comics-spider-man-the-avengers-avengers-infinity-war-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: 2500px;
}

.logo {
  width: 150px;
  height: 70px;
  float: left;
  vertical-align:middle;
  margin-right: 20px;
}

nav {
  background: black;
  overflow: hidden;
}

nav a {
  text-align: center;
  text-decoration: none;
  display: block;
  float: left;
  padding: 15px;
  color: white;
}

nav a.right {
  float: right;
}

nav a:hover {
  background-color: #b78161;
  color: white;
}

<<<<<<< HEAD
nav a:active {
=======
nav a:active { 
>>>>>>> 2067b75e31d8f64f8c51d714ba857fe21ab190aa
  background-color: #541516;
  color: white;
}

h2 {
  text-align: center;
  text-decoration: underline;
  color: white;
}

p {
  line-height: 38px;
  color: white;
  font-size: 20px;
  text-indent: 50px;
}

.about, .now, .goals {
  float: left;
  width: 50%;
  height: auto;
  border: 1px solid #b78161;
  box-shadow: 15px 0px 35px #4d1314;
  margin: 60px 0 0 10px;
  padding: 15px;
}

ol li, ul li {
  color: white;
  line-height: 27px;
}

footer {
  background-color: black;
  color: white;
  float: right;
}
